<form >
                 <div class="col-12 form-wrapper">                    
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Select client</label>
                                 <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body">
                                     <option>Option1</option>
                                     <option>Option2</option>
                                     <option>Option3</option>
                                     <option>Option4</option>
                                     <option>Option5</option>
                                     <option>Option6</option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Select Business Unit</label>
                                 <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body">
                                     <option>Option1</option>
                                     <option>Option2</option>
                                     <option>Option3</option>
                                     <option>Option4</option>
                                     <option>Option5</option>
                                     <option>Option6</option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Job Title</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                     </div>
                 
     </form>