<form >
                 <div class="col-12 form-wrapper">
                     <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Referance no</label>
                                <input [(ngModel)]="vaccancy_ref_number" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input [(ngModel)]="vaccancy_date" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Client</label>
                                <select [(ngModel)]="vaccancy_cilent" class="form-control selectpicker" data-container="body">
                                   <option>Option1</option>
                                   <option>Option2</option>
                                   <option>Option3</option>
                                   <option>Option4</option>
                                   <option>Option5</option>
                                   <option>Option6</option>
                               </select>
                            </div>
                        </div> 
                        <div class="col-4">
                            <div class="form-group">
                                <label>Businees Unit</label>
                                <select [(ngModel)]="vaccancy_business" class="form-control selectpicker" data-container="body">
                                   <option>Option1</option>
                                   <option>Option2</option>
                                   <option>Option3</option>
                                   <option>Option4</option>
                                   <option>Option5</option>
                                   <option>Option6</option>
                               </select>
                            </div>
                       </div>
                       <div class="col-4">
                        <div class="form-group">
                            <label>Shift Type</label>
                            <select [(ngModel)]="vaccancy_staff_shift" class="form-control selectpicker" data-container="body">
                               <option>Option1</option>
                               <option>Option2</option>
                               <option>Option3</option>
                               <option>Option4</option>
                               <option>Option5</option>
                               <option>Option6</option>
                           </select>
                        </div>
                       </div>
                       <div class="col-4">
                        <div class="form-group">
                            <label>Job</label>
                            <select [(ngModel)]="vaccancy_job"class="form-control selectpicker" data-container="body">
                            <option>Option1</option>
                            <option>Option2</option>
                            <option>Option3</option>
                            <option>Option4</option>
                            <option>Option5</option>
                            <option>Option6</option>
                        </select>                            
                        </div>
                       </div>
                       <div class="col-4">
                            <div class="form-group">
                            <label>Break Time</label>
                            <input [(ngModel)]="vaccancy_break_time" type="text" class="form-control" />
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="form-group">
                               <label>Space</label>
                               <input [(ngModel)]="vaccancy_space" type="text" class="form-control" />
                            </div>
                        </div>                  
                         <div class="col-4">
                             <div class="form-group">
                                <label>Location</label>
                                <input [(ngModel)]="vaccancy_location" type="text" class="form-control" />
                             </div>
                         </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Details</label>
                                <input [(ngModel)]="vaccancy_details" type="text" class="form-control" />
                            </div>
                        </div>                         
                    </div>
                 </div>
     </form>