<form [formGroup]="form">
                 <div class="col-12 form-wrapper">
                     <div class="row">
                         <div class="col-8">
                             <div class="form-group">
                                 <label>Job Role</label>
                                 <input type="text" class="form-control" formControlName="job_role_category" [(ngModel)]="JobRoles.job_role_category"/>
                             </div>
                         </div>
                         <div class="col-4">
                            <div class="form-group">
                                <label>Job</label>
                                <select name="job_role_job_role" formControlName="job_role_job_role" [(ngModel)]="JobRoles.job_role_job_role" class="form-control selectpicker" data-container="body">
                                  <option value="">Unassigned</option>
                                   <option *ngFor="let job of list_items_data['modules']['jobs']" value="{{job.id}}">
                                 {{job.label}}
                                </option>
                               </select>
                            </div>
                       </div>
                         
                     </div>
                     
               
                    
                 </div>
     </form>