<form [formGroup]="form">
                 <div class="col-12 form-wrapper">
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Agency Name</label>
                                 <input type="text" class="form-control" formControlName="name" [(ngModel)]="client.name" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Name of the authorized person</label>
                                 <input type="text" class="form-control" formControlName="authorized_person" [(ngModel)]="client.authorized_person" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>E-mail</label>
                                     <input type="text" class="form-control" formControlName="email" [(ngModel)]="client.email"/>
                                 
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Address1</label>
                                 <input type="text" class="form-control" formControlName="address_line1" [(ngModel)]="client.address_line1"/>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                <label>Address2</label>
                                <input type="text" class="form-control" formControlName="address_line2" [(ngModel)]="client.address_line2"/>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Post Code</label>
                                 <input type="text" class="form-control" formControlName="postal_code" [(ngModel)]="client.postal_code"/>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-4">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" formControlName="phone_number" [(ngModel)]="client.phone_number"/>
                            </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" formControlName="mobile_number" [(ngModel)]="client.mobile_number"/>
                             </div>
                         </div>
                         
                     </div>
                    
                 </div>
     </form>