<form [formGroup]="form">
				<div class="col-12 form-wrapper">
                   <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Client</label>
								<select class="form-control selectpicker" formControlName="staff_client_id" *ngIf="list_items_data['modules']" [(ngModel)]="stafflist.staff_client_id">
								<option value="">Unassigned</option>
								<option *ngFor="let client of list_items_data['modules']['client']" value={{client.id}}>
								{{client.label}}
								</option>
								</select>
                            </div>
                        </div>
						<div class="col-4">
                            <div class="form-group">
                                <label>Name of Authorised Person</label>
                                <input type="text" class="form-control" formControlName="staff_ref_id" [(ngModel)]="stafflist.staff_ref_id" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Email</label>
                                <div class="form-group">
                                    <input type="text" class="form-control " placeholder="E-mail ID"  formControlName="staff_doj" [(ngModel)]="stafflist.staff_doj" />
                                </div>
                            </div>
                        </div>
						
                    </div>
                            <div class="row">
					<div class="col-4">
                            <div class="form-group">
                                <label>Phone Number</label>
								 <input type="text" class="form-control" placeholder="Address"  formControlName="staff_shift_type" [(ngModel)]="stafflist.staff_shift_type" />
                            </div>
                        </div>
					<div class="col-4">
                            <div class="form-group">
                                <label>Mobile Number</label>
								<input type="text" class="form-control" placeholder="Address"  formControlName="staff_business_unit_id" [(ngModel)]="stafflist.staff_business_unit_id" />
                               
                            </div>
                        </div>
						<div class="col-4">
                            <div class="form-group">
                                <label>Address 1</label>
                                <input type="text" class="form-control" formControlName="staff_space" [(ngModel)]="stafflist.staff_space"/>
                            </div>
                        </div>
						
                    </div>
					
					<div class="row">
				<div class="col-4">
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" class="form-control" formControlName="staff_location" [(ngModel)]="stafflist.staff_location" />
                            </div>
                        </div>
				</div>
                </div>
    </form>