<form [formGroup]="form">
    <div class="col-12 form-wrapper">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text"  class="form-control" formControlName="candidate_fname" [(ngModel)]="candidate.candidate_fname"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text"  class="form-control" formControlName="candidate_lname" [(ngModel)]="candidate.candidate_lname"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Sur Name</label>
                    <input type="text"  class="form-control" formControlName="candidate_title" [(ngModel)]="candidate.candidate_title"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_gender" [(ngModel)]="candidate.candidate_gender" *ngIf="list_items_data['list_items']">
                        <option value="">Unassigned</option>
                        <option *ngFor="let gender of list_items_data['list_items']['gender']" value="{{gender.list_item_id}}">
                         {{gender.list_item_title}}
                        </option>
                   </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Date of Birth</label>
                    <div class="custom-datepicker">
                        <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" formControlName="candidate_dob" [(ngModel)]="candidate.candidate_dob" />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Address Line 1</label>
                    <input type="text"  class="form-control" formControlName="candidate_address1" [(ngModel)]="candidate.candidate_address1"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
               <div class="form-group">
                   <label>Address Line 2</label>
                   <input type="text"  class="form-control" formControlName="candidate_address2" [(ngModel)]="candidate.candidate_address2"/>
               </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Address Line 3</label>
                   <input type="text"  class="form-control" formControlName="candidate_address3" [(ngModel)]="candidate.candidate_address3"/>
                </div>
            </div>
            <div class="col-4">
               <div class="form-group">
                    <label>Country</label>
                    <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_country" [(ngModel)]="candidate.candidate_country" *ngIf="list_items_data['modules']">
                        <option>Unassigned</option>
                        <option *ngFor="let country of list_items_data['modules']['countries']" value="{{country.id}}">
                            {{country.label}}</option>
                    </select>
               </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-4">
                <div class="form-group">
                   <label>Postcode</label>
                   <input type="text"  class="form-control" formControlName="candidate_postcode" [(ngModel)]="candidate.candidate_postcode"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                     <label>Designation</label>
                     <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_designation" [(ngModel)]="candidate.candidate_designation">
                         <option>Unassigned</option>
                         <option *ngFor="let country of list_items_data['modules']['countries']" value="{{country.id}}">
                            {{country.label}}</option>
                     </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>DBS/PVG Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_dbs_pvg_number" [(ngModel)]="candidate.candidate_dbs_pvg_number"/>
                </div>
            </div>
        </div>
        <div class="row">   
            <div class="col-4">
            <div class="form-group">
                <label>DBS/PVG Issue Date</label>
                <div class="custom-datepicker">
                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" formControlName="candidate_dbs_pvg_issue_date" [(ngModel)]="candidate.candidate_dbs_pvg_issue_date"/>
                </div>
            </div>
        </div> 
            <div class="col-4">
                <div class="form-group">
                   <label>Staff ID</label>
                   <input type="text"  class="form-control" formControlName="candidate_staff_id" autocomplete="off" [(ngModel)]="candidate.candidate_staff_id"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Payroll ID</label>
                   <input type="text"  class="form-control" formControlName="candidate_payroll_id" autocomplete="off" [(ngModel)]="candidate.candidate_payroll_id"/>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-4">
                <div class="form-group">
                   <label>Email Address</label>
                   <input type="text"  class="form-control" formControlName="candidate_email" [(ngModel)]="candidate.candidate_email"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Pin Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_pin" [(ngModel)]="candidate.candidate_pin"/>
                </div>
            </div>
            <div class="col-4">
            <div class="form-group">
                <label>Pin Expiry Date</label>
                <div class="custom-datepicker">
                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" formControlName="candidate_pin_expiry_date" [(ngModel)]="candidate.candidate_pin_expiry_date"/>
                </div>
            </div>
        </div>
        </div>
        <div class="row">    
            <div class="col-4">
                <div class="form-group">
                   <label>Phone Country Code</label>
                   <input type="text"  class="form-control" formControlName="candidate_phone_country_code" [(ngModel)]="candidate.candidate_phone_country_code"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Phone Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_phone_number" [(ngModel)]="candidate.candidate_phone_number"/>

                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Mobile Country Code</label>
                   <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_mobile_country_code" [(ngModel)]="candidate.candidate_mobile_country_code">
                        <option value="">Unassigned</option>
                        <option value="India (+91)">India (+91)</option>
                        <option value="United Kingdom (+44)">United Kingdom (+44)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-4">
                <div class="form-group">
                   <label>Mobile Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_mobile_phone_number" [(ngModel)]="candidate.candidate_mobile_phone_number" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Employment Type</label>
                   <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_employment_type" [(ngModel)]="candidate.candidate_employment_type">
                        <option value="">Unassigned</option>
                       <option *ngFor="let employee_type of list_items_data['list_items']['employee_type']" value="{{employee_type.list_item_id}}">
                         {{employee_type.list_item_title}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Status</label>
                   <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_status" [(ngModel)]="candidate.candidate_status">
                        <option value="">Unassigned</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-4">
                <div class="form-group">
                   <label>NI Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_ni_number" [(ngModel)]="candidate.candidate_ni_number"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Passport Number</label>
                   <input type="text"  class="form-control" formControlName="candidate_passport_number" [(ngModel)]="candidate.candidate_passport_number"/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Issueing Country</label>
                   <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_issueing_country" [(ngModel)]="candidate.candidate_issueing_country">
                        <option>Unassigned</option>
                       <option *ngFor="let country of list_items_data['modules']['countries']" value="{{country.id}}">
                            {{country.label}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Visa Type</label>
                   <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="candidate_visa_type" [(ngModel)]="candidate.candidate_visa_type">
                       <option value="">Unassigned</option>
                        <option value="Citizen">Citizen</option>
                        <option value="Tourist">Tourist</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>