<a href="#!" id="module_form" class="btn btn-primary" (click)="clearForm()" style="display:none" data-toggle="modal" data-target="#addnew-modal"  #module_form>Add New</a>
    <div class="col-12 page-wrapper">
       <div class="col-12 p-0 d-flex flex-column advanced-filter-search"  [ngClass]="{'hidden':advanced_filter_search == false}">
 <form [formGroup]="form">
				<div class="col-12 form-wrapper">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Referance</label>
                                <input type="text" class="form-control" formControlName="staff_ref_id" [(ngModel)]="stafflist.staff_ref_id" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Client</label>
								<select class="form-control selectpicker" formControlName="staff_client_id" *ngIf="list_items_data['modules']" [(ngModel)]="stafflist.staff_client_id">
								<option value="">Unassigned</option>
								<option *ngFor="let client of list_items_data['modules']['client']" value={{client.id}}>
								{{client.label}}
								</option>
								</select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>DOJ</label>
                                <div class="custom-datepicker">
                                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy"  formControlName="staff_doj" [(ngModel)]="stafflist.staff_doj" />
                                </div>
                            </div>
                        </div>
						
                    </div>
                    <div class="row">
					<div class="col-4">
                            <div class="form-group">
                                <label>Shift Type</label>
                                <select class="form-control selectpicker"  data-selected-text-format="count > 3" data-container="body" formControlName="staff_shift_type" [(ngModel)]="stafflist.staff_shift_type">
									  <option value="">Unassigned</option>
									  <option *ngFor="let shift_type of list_items_data['list_items']['shift_type']" value={{shift_type.list_item_id}}>
										{{shift_type.list_item_title}}
									  </option>
                                </select>
                            </div>
                        </div>
					<div class="col-4">
                            <div class="form-group">
                                <label>Business Unit</label>
                                <select class="form-control selectpicker" data-selected-text-format="count > 3" data-container="body" formControlName="staff_business_unit_id" [(ngModel)]="stafflist.staff_business_unit_id">
                                    <option value="">Unassigned</option>
								  <option *ngFor="let business_unit of list_items_data['modules']['business_unit']" value={{business_unit.id}}>
									{{business_unit.label}}
								  </option>
                                </select>
                            </div>
                        </div>
						<div class="col-4">
                            <div class="form-group">
                                <label>Space</label>
                                <input type="text" class="form-control" formControlName="staff_space" [(ngModel)]="stafflist.staff_space"/>
                            </div>
                        </div>
						
                    </div>
                </div>
				<div class="row">
				<div class="col-4">
                            <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control" formControlName="staff_location" [(ngModel)]="stafflist.staff_location" />
                            </div>
                        </div>
				</div>
		<div class="row">
			<div class="col-12 filter-footer">
			  <div class="btn-group">
				 <a (click)="clearSearchFilter()" class="btn btn-default">Reset</a>
           <a  class="btn btn-primary" (click)="filterSearch()" >Search</a>
			  </div>
			</div>
		</div>
    </form>
      
     
      </div>
      <div class="col-12 p-0 table-wrapper listing-table-wrapper">
        <div class="customisation-btn-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Customize Columns">
          <a href="javascript:void(0)" class="customisation-btn"></a>
          <div class="customisation-dropdown animated fadeIn">
            <ul class="handles list ui-sortable">
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Sl No</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Reference</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Client</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Break Time</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Space</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Location</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Details</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Actions</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="table-wrapper-inner">
        <div class="table-header">
          <div class="table-header-inner">
            <table class="table">
              <thead>
                <tr>
                  <th class="no-sort"><span>Sl No</span></th>
                  <th class="sorting"><span class="texts">Reference</span></th>
                  <th class="sorting"><span class="texts">Client</span></th>
                  <th class="sorting"><span class="texts">Shift Type</span></th>
				   <th class="sorting"><span class="texts">Business Unit</span></th>
                  <th class="sorting"><span class="texts">Space</span></th>
                  <th class="sorting"><span class="texts">Location</span></th>
                  <th class="no-sort actions-th text-right"><span>Actions</span></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="table-body">
          <table class="table">
            <tbody>
              <tr *ngIf="staff_data.length==0" class="no-data-tr">
                <td colspan=12 class="no-data"><h4>No Records Found</h4></td>
              </tr>
              <tr *ngFor="let data of staff_data let rowIndex=index">
                <td>{{rowIndex+1}}</td>
                <td><span class="text">{{data.staff_ref_id}}</span></td>
                <td><span class="text">{{showListLabel(data.staff_client_id,'modules','client')}}</span></td>
                <td><span class="text">{{showListLabel(data.staff_shift_type,'list_items','shift_type')}}</span></td>
				<td><span class="text">{{showListLabel(data.staff_business_unit_id,'modules','business_unit')}}</span></td>
                <td><span class="text">{{data.staff_space}}</span></td>
                <td><span class="text">{{data.staff_location}}</span></td>
                <td class="actions-td text-right">
                   <a href="javascript:void(0)" (click)="editItem(data)" data-toggle="modal" data-target="#addnew-modal"><i class="far fa-pencil"></i></a>
                   <a href="javascript:void(0)" (click)="removeItem(rowIndex,data)"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
        </div>
        <div class="table-footer" *ngIf="staff_data.length>0">
          <div class="float-left results-text">Showing <span>{{((page-1)*row_per_page)+1}}-{{page*row_per_page < row_count ? page*row_per_page : row_count }}</span> of <span>{{row_count}}</span> results</div>
          <div class="float-right pagination-wrapper">
            <div class="form-group goto">
              <label>Go to page</label>
              <input type="text" class="form-control" (blur)="getCurrentPage($event.target.value,'page')" >
            </div>
            <div class="pagination">
              <nav>
                <ul>
                  <li ><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page >1 ? page-1 : 1,'page')"> &lt;&lt; </a></li>
                  <li><a href="javascript:void(0)" [ngClass]="{'active' : page === 1}" class="prev" (click)="getCurrentPage(1,'page')">First</a></li>
                  
                  <li *ngFor="let pg of totalPagesArr"><a  href="javascript:void(0)" (click)="getCurrentPage(pg,'page')" [ngClass]="{'active' : page === pg}" class="page">{{pg}}</a></li>
                  <li><a href="javascript:void(0)" class="prev" (click)="getCurrentPage(totalPagesArr.length,'page')">Last</a></li>
                  <li><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page < totalPagesArr.length ? page+1 : totalPagesArr.length,'page')"> &gt;&gt; </a></li>
                </ul>
              </nav>
            </div>
            <div class="form-group result-per">
              <label>Results Per Page</label>
              <select class="form-control selectpicker" (change)="getCurrentPage($event.target.value,'rpp')" >
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
    
          </div>
        </div>
        
      </div>
    </div>








    

  
    <!-- right modal -->
    <div class="modal fade custom-popup right" id="addnew-modal" role="dialog" tabindex='-1'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add new staff</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
          </div>
          <div class="modal-body">
            <app-staff-form #app_staff_form (formData)="saveForm($event)" [list_items_data]="list_items_data"></app-staff-form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-normal" type="button" (click)="revertChanges()"  data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button"  data-dismiss="modal" (click)="formSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- right modal -->
