    <div class="d-flex top-header">
      <div class="col title"><h5>Candidate</h5></div>
      <div class="col-auto header-right float-right"><a href="#!" class="btn btn-primary" data-toggle="modal" data-target="#addnew-modal">Add New</a></div>
    </div>
    
    
    <!-- right modal -->
    <div class="modal fade custom-popup right" id="addnew-modal" role="dialog" tabindex='-1'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Candidate</h4>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-body">
              <app-candidates-form #app_candidates_form (formData)="saveForm($event)" ></app-candidates-form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-normal" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="button" (click)="formSubmit()">Save</button>
            </div>
          </div>
        </div>
    </div>
      <!-- right modal -->