/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Sep, 2018, 10:23:36 AM
    Author     : ansar
*/

@import "mixins";

//-----------------------common styles-----------------------
//-----------------------------------------------------------
$PrimaryFont: 'Roboto';
$SecondFont: 'Roboto Condensed';

@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-thinItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'PrimaryFont';
  src: url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-mediumitalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: PrimaryFont;
  src: url('../fonts/roboto-blackitalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SecondFont;
  src: url('../fonts/robotocondensed-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  @include border-radius(0px);
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  @include border-radius(0px);
  background: #e5e5e5;
}
* {
  margin: 0;
  padding: 0;
}

body,html{
  font-family: PrimaryFont;
  font-size: 12px;
}
a,
a:hover{
  text-decoration: none;
}
.btn{
  @include transition(all 0.2s ease-in);
  @include border-radius(0);
  &:hover,&:focus{
    outline: none;
    @include box-shadow(none);
  }
}
.btn-primary{
  background: #2b77b9;
  border-color: #2b77b9;
  &:hover,&:focus{
    background: #256ba7;
    border-color: #256ba7;
    outline: none;
    @include box-shadow(none);
  }
}
.btn-primary-o{
  border-color: #2b77b9;
  background: #fff;
  color: #2b77b9;
  &:hover,&:focus{
    background: #256ba7;
    border-color: #256ba7;
    color: #fff;
  }
}
.btn-default{
  background: #fff;
  border-color: #fff;
  color: #000;
  margin-right: 0.83334rem;
  &:hover,&:focus{
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #000;
  }
}
.btn-default-o{
  background: transparent;
  border-color: #fff;
  color: #fff;
  &:hover,&:focus{
    background: #fff;
    border-color: #fff;
    color: #256ba7;
  }
}

table{
  margin: 0!important;
  thead{
    th{
      vertical-align:middle!important;
      span{
        position: relative;
      }
      &.sorting{
        span{
          &:after{
            content: "\f0dc";
            position: absolute;
            top: 0;
            right: -15px;
            display: block;
            font-family: 'Font Awesome 5 Pro';
            color: #8b959e;
            font-size: 1rem;
            padding-top: 0.12em;
            font-weight: 600;
          }
        }
      }
      &.sorting_asc{
        span{
          &:after{
            content: "\f0de";
            position: absolute;
            top: 0;
            right: -15px;
            display: block;
            font-family: 'Font Awesome 5 Pro';
            color: #8b959e;
            font-size: 1rem;
            padding-top: 0.12em;
            font-weight: 600;
          }
        }
      }
      &.sorting_desc{
        span{
          &:after{
            content: "\f0dd";
            position: absolute;
            top: 0;
            right: -15px;
            display: block;
            font-family: 'Font Awesome 5 Pro';
            color: #8b959e;
            font-size: 1rem;
            padding-top: 0.12em;
            font-weight: 600;
          }
        }
      }

      border-top: 0;
      color: #8b959e;
      font-size: 1rem;
      font-weight: 600;
      padding:0.41667rem 0.8333333333333334rem!important;
      background:#fafbfc;
      border-bottom:1px solid #eef2f7!important;
      border-top :0!important;
      &:focus{
        outline: none;
      }
    }
  } 
  tbody,tfoot{
    td{
      font-size: 1rem;
      color: #000;
      padding:0.41667rem 0.8333333333333334rem!important;
      border-top: 0;
      border-bottom:1px solid #eef2f7;
      vertical-align: middle!important;
    }
  }
}
.dropdown-menu{
  &.show{
    .dropdown-menu{
      &.inner{
        display: block;
      }
    }
  }
}
.bootstrap-select{
  .btn{
    background: #fff;
    border: 1px solid #ebebeb;
    &:focus{
      outline: none!important;
      @include box-shadow(none);
    }
  }
  .dropdown-toggle{
    &:after{
      margin-left: -0.41667rem;
      vertical-align: super;
    }
  }
  .dropdown-menu{
    @include box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.2));
    border:0;
    &.open{
      padding: 0;
      @include border-radius(0);
      li{
        float: left;
        width: 100%;
        a{
          float: left;
          width: 100%;
          font-size: 1rem;
          color: #000;
          padding: 0.41667rem 0.83334rem;
          border-bottom: 1px solid #ebebeb;
          &:focus{
            outline: none;
          }
        }
        &:last-child{
          a{
            border-bottom: 0;
          }

        }
      }
    }
  }
}
.dropdown{
  .btn{
    &.dropdown-toggle{
      background: none;
      border:none;
      color: #000;
      font-size: 1rem;
      padding: 0;
      width:100%;
      text-align:left;
    }
    &.btn-primary{
      &:after{
        border-top: 0;
        content: '\f107';
        font-family: 'Font Awesome 5 Pro';
        border: 0;
        right: 12px;
        position: absolute;
        top: 3px;
        color: #000;
      }   
    }
  }
  .dropdown-menu{
    top: 85%;
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border:0;
    @include box-sizing(border-box);
    @include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.2));
    a{
      font-size: 1.0833rem;
      color: #000;
      padding: 0.41667rem 0.83334rem;
      border-bottom: 1px solid #ebebeb;
      &:last-child{
        border-bottom: 0;
      }
      &.active,&:active{
        background: none;
      }
    }
  }
}
.switch {
  position: relative;
  float: left;
  width: 34px;
  height: 15px;
  margin: 3px 0;
  input {
    display:none;
    &:checked{
      + .slider {
        background-color: #36b803;
        &:before {
          @include transform(translateX(17px));
        }
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d5d5d5;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: 3px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      @include border-radius(34px);
      &:before {
        @include border-radius(50%);
      }
    }
  }
}


/*1.d Checkbox*/
.checkbox,
.radio{
  position: relative;
}
.checkbox label,
.radio label{
  margin-bottom: 0;
}
input[type=checkbox],
input[type=radio]{
  display: none;
}
input[type=checkbox]~.text,
input[type=radio]~.text{
  padding-left: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
}
input[type=checkbox]~.text:before,
input[type=radio]~.text:before{
  position: absolute;
  top: 2px;
  left: 0;
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;  
  font-family: 'Font Awesome 5 Pro';
  font-size: 1rem;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8b959e;  
  vertical-align: bottom;
  line-height: 1.125rem;
  font-weight: lighter;
}
/*With font-awesome*/
input[type=checkbox]~.text:before{
  content: "\f0c8";
}
input[type=checkbox]:checked~.text:before{
  content: "\f14a";
  color: #2b77b9;
  font-weight: 600;
}
/*1.d Radio Button*/
input[type=radio]~.text:before{  
  content: "\f10c";
}
input[type=radio]:checked~.text:before{
  content: "\f192";
}


.form-group{
  label{
    font-size: 1.083rem;
    color: #808080;
    margin-bottom: 5px;
    sup{
      color: #ff4242;
      font-size: 1rem;
      top: -0.2em;
      margin-left: 2px;
    }
  }
  .form-control{
    border: 1px solid #dbdbdb;
    @include border-radius(0);
    height: 30px;
  }
  textarea{
    resize: vertical;
    min-height: 50px;
  }
  .dropdown-toggle{
    border: none;
    padding-right: 15px;
    padding: 0.4rem 0.75rem;
  }
}

/*---slider common style start--*/

.custom-slider{
  position: fixed;
  top: 53px;
  right: -59%;
  bottom: 39px;
  width: 57%;
  background-color: #fff;
  z-index: 12;
  border-color: #ebebeb;
  @include box-shadow(-10px 0px 15px -2px rgba(0, 0, 0, 0.2));
  .slider-header{
    height: 36px;
    background-color: #2b77b9;
    color: #fff;
    .slider-header-left{
      display: flex;
      align-items: center;
      padding: 0 0.83334rem;
      h3{
        margin-right: 0.8334rem;
        margin-bottom: 0;
        font-size: 1.0833333333333333rem;
        line-height: 1.5rem;
      }
      .dropdown{
        width: 80px;
        line-height:1.1667rem;
        .btn{
          color: #fff;
          font-size: 1.1667rem;
          &.dropdown-toggle{
            &:after{
              color: #fff;
              top: 0;
            }
          }
        }
      }
    }
    .slider-header-right{
      align-items:center;
      .hide-slider{
        height:36px;
        width:36px;
        align-items:center;
        display:flex;
        justify-content:center;
        margin-left:0.83334rem;
        cursor:pointer;
        a{
          color: #fff;
        }
      }
      .btn{
        height: 22px;
        font-size: 0.91666rem;
        padding: 0.16666666666666666rem 0.83334rem;
        line-height: 1.1666666666666667rem;
        @include border-radius(2px);
      }
      .summary-count{
        margin-right: 0.8334rem;
        margin-bottom: 0;
        color: #cbe7ff;
        font-size:1.1667rem;
        span{
          color: #fff;
        }
      }
    }
  }
  .slider-body{
    overflow:auto;
    [class^="col-"]{
      padding-left: 5px;
      padding-right: 5px;
    }
    .checkbox-inline{
      height: 30px;
      .checkbox{
        margin-right: 15px;
        label{
          margin-bottom: 0;
        }
      }
    }
  }
  .slider-footer{
    background-color: #f1f1f1;
    padding: 0.5833333333333334rem 0.8333333333333334rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    p{
      font-size:  1.083rem;
      color: #808080;
      margin-bottom: 0;
      sup{
        color: #ff4242;
        font-size: 1rem;
        top: 4px;
        margin-right: 2px;
      }
    }
    .btn{
      width: 100px;
    }
  }
  input[type=checkbox] ~ .text, input[type=radio] ~ .text {
    padding-left: 18px;
  }
  input[type=checkbox] ~ .text:before, input[type=radio] ~ .text:before{
    top: 3px;
  }
}

/*---slider common style end--*/

/*pagination style start*/

.pagination-block{
  padding: 0.4rem 0.75rem;
  background-color: #f5f8fa;
  border-bottom: 1px solid #eaeaea;
  .result-text{
    font-style: italic;
    color: #75787d;
  }
  .go-text{
    min-width: 75px;
    color: #8b959e;
  }
  .page-text{
    min-width: 110px;
    color: #8b959e;
  }
  .form-group{
    margin-bottom: 0;
    .form-control{
      width: 50px;
      padding: 0.1rem;
      border: none;
      height: 20px;
      text-align: center;
    }
    .dropdown-toggle {
      padding: 0.2rem 0.5rem;
    }
  }
  nav{
    margin: 0 10px;
  }
  ul{
    margin-bottom: 0;
    li{
      margin-right:2px;
      a.page-link{
        color: #8b959e;
        border: none;
        height: 20px;
        margin-right: 2px;
        padding: 0.3rem 0.5rem;
      }
    }
  }
  label{
    margin-bottom: 0;
  }
}

/*pagination style end*/


/*Fixed header table styles*/
.table-container-wrap{
  .table-container-headwrap{
    height: 29px;
    overflow: hidden;
    background-color: #fafbfc;
    border-bottom: 1px solid #eef2f7 !important;
    &.scrolling{
      padding-right: 9px;
    }
  }
  .table-container-head{
    width: 100%;
    overflow: auto;
    thead{
      th{
        border-bottom: 0 !important;
      }
    }
  }
  .table-container-body{
    max-height: 300px;
    width: 100%;
    overflow: auto;
    tbody{
      tr{
        &:first-child{
          td{
            border-top: 0;
          }
        }
      }
    }
  }
}


/* Datepicker Style Start*/
.ui-datepicker{
  display: none;
  width: 250px;
  padding: 0.8333333333333334rem;
  background-color: #fff;
  z-index: 9999!important;
  @include box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.2));
}
.ui-datepicker-calendar{
  width: 100%
}
.ui-datepicker-header {
  margin-bottom: 0.8333333333333334rem;
  font-size: 1rem;
  font-weight: 600;
}
.ui-datepicker-calendar th {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.8333333333333334rem;
  color: #000;
  padding: 0!important;
  border-bottom: 0!important;
}
.ui-datepicker-calendar td {
  width: 30px;
  height: 30px;
  text-align: center;
  transition: all 0.2s;
  vertical-align: middle;
  font-size: 1rem;
  padding: 0!important;
  border: 0;
}
.ui-datepicker-calendar td .ui-state-default {
  width: 33px;
  height: 33px;
  text-align: center;
  display: block;
  padding: 0.8333333333333334rem 0.8333333333333334rem;
  border-radius: 30px;
  line-height: 1;
  color: #000;
}
.ui-datepicker-calendar td:hover{
  background-color: #f4f3f3;
  border-radius: 100%;
  text-align: center;
}
.ui-datepicker-today{
  background-color: #2b77b9;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  padding-top: 0px;
}
.ui-datepicker-today a{
  color: #fff!important;
}
.ui-datepicker-today:hover{
  color: #000;
}
.ui-datepicker-prev{
  float: left;
  margin-top: 0px;
  cursor: pointer;
}
.ui-datepicker-next{
  float: right;
  margin-top: 0px;
  cursor: pointer;
}
.ui-datepicker-title{
  text-align: center;
  font-size: 13px;
}
