<a href="#!" id="module_form" class="btn btn-primary" (click)="clearSearch()" style="display:none" data-toggle="modal" data-target="#addnew-modal"  #module_form>Add New</a>
    <div class="breadcrumb main-top-head">
      <div class="main-top-left">
        <div class="breadcrumb-item" ng-reflect-klass="breadcrumb-item">
          <a ng-reflect-router-link="/" href="#/">Home</a>
        </div>
        <div class="breadcrumb-item active" ng-reflect-klass="breadcrumb-item">
          <span tabindex="0" ng-reflect-router-link="//dashboard/">Jobs</span>
        </div>
      </div>
      <!-- <div class="breadcrumb-menu d-md-down-none main-top-right">
        <div class="form-group custom-search">
            <input type="text" class="form-control" placeholder="Search" />
        </div>
        
        <div class="icon-block">
          <a href="javascript:void(0)" (click)="showAdvancedSearch()" class="icon filter-icon" data-toggle="tooltip" data-placement="left" data-container="body" title="Advance Search"><i class="fas fa-filter"></i></a>
        </div>
        <a href="javascript:void(0)" (click)="clearSearch()" class="btn btn-primary" #getModal data-toggle="modal" data-target="#addnew-modal">Add New</a>
      </div>      -->
    </div>

    <div class="col-12 page-wrapper">
      <div class="col-12 p-0 d-flex flex-column advanced-filter-search"  [ngClass]="{'hidden':advanced_filter_search == false}">
       <form [formGroup]="form">
                 <div class="col-12 form-wrapper">                    
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Select client</label>
                                 <select class="form-control selectpicker" name="jobs_client" formControlName="jobs_client" [(ngModel)]="job.jobs_client"  data-selected-text-format="count > 3" data-container="body">
                                   <option value="">Unassigned</option>
                                   <option *ngFor="let client of list_items_data['modules']['client']" value={{client.id}}>
                                    {{client.label}}
                                   </option>
                               </select>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Select Business Unit</label>
                                 <select class="form-control selectpicker"  name="jobs_business_unit" formControlName="jobs_business_unit" [(ngModel)]="job.jobs_business_unit"  data-selected-text-format="count > 3" data-container="body">
                                  
                                   <option value="">Unassigned</option>
                                   <option *ngFor="let business_unit of list_items_data['modules']['business_unit']" value={{business_unit.id}}>
                                    {{business_unit.label}}
                                   </option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group" >
                                 <label>Job Title</label>
                                 <input type="text" class="form-control" name="jobs_title" formControlName="jobs_title" [(ngModel)]="job.jobs_title"/>
                                 <!-- <input type="text" class="form-control" name="job_title" formControlName="job_title" [(ngModel)]="jobs.job_title" /> -->
                             </div>
                         </div>
                     </div>
                 </div>
                 
     
      <div class="row">
        <div class="col-12 filter-footer">
          <div class="btn-group">
             <a (click)="clearSearchFilter()" class="btn btn-default">Reset</a>
            <a class="btn btn-primary" (click)="filterSearch()" >Search</a>
          </div>
        </div>
      </div>
	  </form>
      </div> 
    <div class="col-12 p-0 table-wrapper listing-table-wrapper">
      <div class="customisation-btn-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Customize Columns">
        <a href="javascript:void(0)" class="customisation-btn"></a>
        <div class="customisation-dropdown animated fadeIn">
          <ul class="handles list ui-sortable">
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Sl No</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Reference</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Client</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Break Time</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Space</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Location</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Details</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Actions</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="table-wrapper-inner">
      <div class="table-header">
        <div class="table-header-inner">
          <table class="table">
            <thead>
              <tr>
                <th class="w-xs no-sort"><span>Sl No</span></th>
                <th class="sorting"><span class="texts">Client</span></th>
                <th class="sorting"><span class="texts">Business Unit</span></th>
                <th class="sorting"><span class="texts">Job Title</span></th>
                <th class="no-sort actions-th"><span>Actions</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="table-body">
        <table class="table">
          <tbody>
            <tr *ngIf="jobs_data.length==0" class="no-data-tr">
              <td colspan="12" class="no-data"><h4>No Records Found</h4></td>
            </tr>
            <tr *ngFor="let data of jobs_data let rowIndex=index">
              <td><span class="text">{{((page-1)*row_per_page)+1+rowIndex}}</span></td>
              <td><span class="text">{{showListLabel(data.jobs_client,'modules','client')}}</span></td>
              <td><span class="text">{{showListLabel(data.jobs_business_unit,'modules','business_unit')}}</span></td>
              <td><span class="text">{{data.jobs_title}}</span></td>
              <td>
                <a href="javascript:void(0)" (click)="editJob(data)"  data-target="#addnew-modal" #getModal data-toggle="modal"><i class="far fa-pencil"></i></a>
                <a href="javascript:void(0)" (click)="removeItem(data.jobs_id,rowIndex)"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        
        </div>
      </div>
      <div class="table-footer" *ngIf="jobs_data.length>0">
        <div class="float-left results-text">Showing <span>{{((page-1)*row_per_page)+1}}-{{page*row_per_page < row_count ? page*row_per_page : row_count }}</span> of <span>{{row_count}}</span> results</div>
        <div class="float-right pagination-wrapper">
          <div class="form-group goto">
            <label>Go to page</label>
            <input type="text" class="form-control" (blur)="getCurrentPage($event.target.value,'page')" >
          </div>
          <div class="pagination">
            <nav>
              <ul>
                <li ><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page >1 ? page-1 : 1,'page')"> &lt;&lt; </a></li>
                <li><a href="javascript:void(0)" [ngClass]="{'active' : page === 1}" class="prev" (click)="getCurrentPage(1,'page')">First</a></li>
                
                <li *ngFor="let pg of totalPagesArr"><a  href="javascript:void(0)" (click)="getCurrentPage(pg,'page')" [ngClass]="{'active' : page === pg}" class="page">{{pg}}</a></li>
                <li><a href="javascript:void(0)" class="prev" (click)="getCurrentPage(totalPagesArr.length,'page')">Last</a></li>
                <li><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page < totalPagesArr.length ? page+1 : totalPagesArr.length,'page')"> &gt;&gt; </a></li>
              </ul>
            </nav>
          </div>
          <div class="form-group result-per">
            <label>Results Per Page</label>
            <select class="form-control selectpicker" (change)="getCurrentPage($event.target.value,'rpp')" >
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
  
        </div>
      </div>
      
    </div>
  </div>

<!-- right modal -->
<div class="modal fade custom-popup right" id="addnew-modal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Jobs</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-jobs-form #app_jobs_form (formData)="saveForm($event)" [list_items_data]="list_items_data"></app-jobs-form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-normal" type="button" data-dismiss="modal" (click)="cancelSave()">Cancel</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="formSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- right modal -->


<!-- right modal -->
<button [hidden]="true" type="button" #getModalDelete data-toggle="modal" data-target="#delete-modal"></button>
<div class="modal fade custom-popup right" id="delete-modal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Job</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-normal" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="confirmDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- right modal -->