<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Duty Scheduler</title>   
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <div class=" sidebar-nav sidebar-expanded d-none d-md-block" id="sidebarMenu">
            <div class="d-flex justify-content-center logo-wrap w-100">
              <div class="expanded-logo"><img src="./assets/images/expanded-logo.png" alt="care-bee-logo" /></div>
              <div class="collapsed-logo"><img src="./assets/images/collapsed-logo.png" alt="care-bee-logo" /></div>
            </div>
            <ul class="menu-list">
              <li class="list-item">
                <div class="d-flex agency-logo align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-home"></i></span>
                  <span class="menu-text menu-collapsed">Home</span>
                </div>
              </li>
              <li class="list-item submenu-list flex-column">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-home"></i></span>
                  <span class="menu-text menu-collapsed">Master</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div class="sidebar-submenu w-100">
                <ul class="submenu-list-ul">
                  <li><a routerLink='/staff' class="submenu-item" >Staffs</a></li>
                  <li><a routerLink='/client' class="submenu-item" >Client / Business Unit</a></li>
                  <li><a routerLink='/job-roles' class="submenu-item">Job Roles</a></li>
                  <li><a routerLink='/jobs' class="submenu-item">Jobs</a></li>
                  <li><a routerLink='/client-rate' class="submenu-item">Client Rate</a></li>
                  <li><a routerLink='/staff-rate' class="submenu-item">Staff Rate</a></li>
                  <li><a routerLink='/vacancies' class="submenu-item">Vacancies</a></li>
                  <li><a routerLink='/document-type' class="submenu-item">Document Type</a></li>
                  <li><a routerLink='/holidays' class="submenu-item">Holidays</a></li>
                </ul>
              </div>
              </li>

              <li class="list-item">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-user"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/candidates' >Candidates</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-clock"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/time-sheets' >Timesheets</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-calendar-check"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/bookings'>Bookings</span>
                </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-history"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/history'>Historical</span>
                </div>
              </li>
              <li class="list-item submenu-list flex-column">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-dollar-sign"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/invoice'>Invoice</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div class="sidebar-submenu w-100">
                  <ul class="submenu-list-ul">
                  <li><a href="#!" class="submenu-item">Sub menu 1</a></li>
                  <li><a href="#!" class="submenu-item">Sub menu 2</a></li>
                  <li><a href="#!" class="submenu-item">Sub menu 3</a></li>
                </ul>
              </div>
              </li>
              <li class="list-item">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-user-tie"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/vacancies' >Vacancies</span>
                </div>
              </li>
              <li class="list-item submenu-list flex-column">
                <div class="d-flex  align-items-center menu-item">
                  <span class="menu-icon"><i class="far fa-file"></i></span>
                  <span class="menu-text menu-collapsed" routerLink='/reports'>Reports</span>
                  <span class="submenu-icon ml-auto"></span>
                </div>
                <!-- Submenu content -->
                <div class="collapse sidebar-submenu w-100">
                  <ul class="submenu-list-ul">
                  <li><a href="#!" class="submenu-item">Sub menu 1</a></li>
                  <li><a href="#!" class="submenu-item">Sub menu 2</a></li>
                  <li><a href="#!" class="submenu-item">Sub menu 3</a></li>
                </ul>
              </div>
              </li>
            </ul>

            <div class="sidebar-toggle">
              <label class="switch">
                <input type="checkbox" data-toggle='collapse' class="sidebar-colapse">
                <span class="slider"></span>
              </label>
              <!----<div class="checkbox">
                <input type="checkbox">
                <label></label>
              </div>-->
            </div>
            

          </div>
        <div class="col p-0 main-content-wrapper">
          <div class="col-12 p-0 d-flex page-header">
            <div class="col p-0">
              <div class="form-group mb-0 header-search">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
            </div>
            <div class="col-auto d-flex justify-content-end align-items-center">
              <div class="notification-icon"><span class="icon"><i class="far fa-bell"></i></span><sup><i class="fas fa-circle"></i></sup></div>
              <a href="#!" class="btn btn-primary btn-schedule"><i class="far fa-plus"></i> Schedule</a>
              <div class="user-info d-flex align-items-center justify-content-end">
                <div class="col display-picture"></div>
                <h5 class="col-auto user-name">Mathew Thomas</h5>

                <div class="user-settings-list">
                  <ul>
                    <li><a href="#!"><i class="far fa-cog"></i> Settings</a></li>
                    <li><a href="#!"><i class="far fa-user"></i> User</a></li>
                    <li><a href="#!"><i class="far fa-lock-alt"></i> Password</a></li>
                    <li><a href="#!"><i class="far fa-sign-out-alt"></i> Logout</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 d-flex flex-column page-wrapper">
			<router-outlet></router-outlet>
		  </div>            
        </div>
    </div>
    </div>
  <script>
		var horizontalBarChartData1 = {
			labels: ['week 1', 'week 2', 'week 3', 'week 4'],
			datasets: [{
				backgroundColor: '#fab96c',
				borderColor: '#fab96c',
				data: [300,299,200,300]
			}, {
				backgroundColor: '#c06063',
				borderColor: '#c06063',
				data: [99,199,300,200]
			},
			{
				backgroundColor: '#7ecf89',
				borderColor: '#7ecf89',
				data: [99,99,200,300]
			}]

		};

    var horizontalBarChartData2 = {
			labels: ['week 1', 'week 2', 'week 3', 'week 4'],
			datasets: [{
				backgroundColor: '#70d1f6',
				borderColor: '#70d1f6',
				data: [300,299,200,300]
			}, {
				backgroundColor: '#9b76b7',
				borderColor: '#9b76b7',
				data: [99,199,300,200]
			},
			{
				backgroundColor: '#c05996',
				borderColor: '#c05996',
				data: [99,99,200,300]
			}]

		};

		window.onload = function() {
			var ctx1 = document.getElementById('invoiceChart').getContext('2d');
			window.myHorizontalBar = new Chart(ctx1, {
				type: 'horizontalBar',
				data: horizontalBarChartData1,
				options: {
					elements: {
						rectangle: {
							borderWidth: 1,
						}
					},

					responsive: true,
					legend: {
						display:false,
						position: 'right',
					},
					title: {
						display: false
					},

					scales: {
						xAxes: [{
            gridLines: {
                display:false
            }
        }],
        yAxes: [{
					barPercentage: 0.6,
    			categoryPercentage: 0.7,
						position: 'top',
            ticks: {
                beginAtZero: true,
            },
						gridLines: {
                display:false
            }
        }]
    }
				}
			});

      var ctx2 = document.getElementById('profitlossChart').getContext('2d');
			window.myHorizontalBar1 = new Chart(ctx2, {
				type: 'horizontalBar',
				data: horizontalBarChartData2,
				options: {
					elements: {
						rectangle: {
							borderWidth: 1,
						}
					},

					responsive: true,
					legend: {
						display:false,
						position: 'right',
					},
					title: {
						display: false
					},

					scales: {
						xAxes: [{
            gridLines: {
                display:false
            }
        }],
        yAxes: [{
					barPercentage: 0.6,
    			categoryPercentage: 0.7,
						position: 'top',
            ticks: {
                beginAtZero: true,
            },
						gridLines: {
                display:false
            }
        }]
    }
				}
			});

		};
	</script>

  </body>
</html>
