<div class="col-12 d-flex flex-column page-wrapper">
    <div class="d-flex top-header">
      <div class="col title"><h5>Sample Title</h5></div>
      <div class="col-auto header-right float-right"><a href="#!" class="btn btn-primary">Add New</a></div>
    </div>
    <div class="col-12 p-0 table-wrapper">
      <div class="customisation-btn-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Customize Columns">
        <a href="#" class="customisation-btn"><i class="fas fa-grip-horizontal"></i></a>
        <div class="customisation-dropdown animated fadeIn">
          <ul class="handles list ui-sortable">
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Sl No</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Category</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Document Type</span>
                </label>
              </div>
            </li>
            <li>
              <span class="drag-icon"></span>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="text">Actions</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <table class="table list-table" id="listing-table">
        <thead>
          <tr>
            <th class="w-xs">Sl No</th>
            <th>Category</th>
            <th>Document Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><span class="text">Adress Proof</span></td>
            <td><span class="text">Bank staement</span></td>
            <td>
              <a href="#!"><i class="far fa-pencil"></i></a>
              <a href="#!"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Adress Proof</td>
            <td>Bank Statement</td>
            <td>
              <a href="#!"><i class="far fa-pencil"></i></a>
              <a href="#!"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Adress Proof</td>
            <td>Bank Statement</td>
            <td>
              <a href="#!"><i class="far fa-pencil"></i></a>
              <a href="#!"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
