<form >
                 <div class="col-12 form-wrapper">
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Agency Name</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Name of the authorized person</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>E-mail</label>
                                     <input type="text" class="form-control" />
                                 
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Address1</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                <label>Address2</label>
                                <input type="text" class="form-control" />
                             </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                 <label>Post Code</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-4">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" />
                            </div>
                         </div>
                         <div class="col-4">
                             <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" />
                             </div>
                         </div>
                         
                     </div>
                    
                 </div>
     </form>