/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2017, 12:22:36 PM
    Author     : rajasree
*/

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  :-o-placeholder             {@content}
  :-ms-input-placeholder      {@content}  
}
@mixin linear-gradient($direction, $color1, $color2, $color3){
  background: -webkit-linear-gradient($direction, $color1, $color2, $color3);
  background: -moz-linear-gradient($direction, $color1, $color2, $color3);
  background: -o-linear-gradient($direction, $color1, $color2, $color3);
  background: -ms-linear-gradient($direction, $color1, $color2, $color3);
  background: linear-gradient($direction, $color1, $color2, $color3);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin transform($values) {
  -webkit-transform: $values;
  -moz-transform: $values;
  -ms-transform: $values;
  transform: $values;
}
@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  transition: $values;
}
@mixin animation($values) {
  -webkit-animation: $values;
  -moz-animation: $values;
  -ms-animation: $values;
  animation: $values;
}
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  appearance: $value;
}
@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
