    <div class="breadcrumb main-top-head">
      <div class="main-top-left">
        <div class="breadcrumb-item" ng-reflect-klass="breadcrumb-item">
          <a ng-reflect-router-link="/" href="#/">Home</a>
        </div>
        <div class="breadcrumb-item active" ng-reflect-klass="breadcrumb-item">
          <span tabindex="0" ng-reflect-router-link="//dashboard/">Candidate</span>
        </div>
      </div>
      <div class="breadcrumb-menu d-md-down-none main-top-right">
          <div class="form-group custom-search">
              <input type="text" class="form-control" placeholder="Search" />
          </div>
          
          <div class="icon-block">
            <a href="javascript:void(0)" class="icon filter-icon" (click)="showAdvancedSearch()" data-toggle="tooltip" data-placement="left" data-container="body" title="Advance Search"><i class="fas fa-filter"></i></a>
          </div>
          <a href="#!" class="btn btn-primary" data-toggle="modal" data-target="#addnew-modal" (click)="resetForm()">Add New</a>
      </div>     
    </div> 
    
    <div class="col-12 page-wrapper">
      <div class="col-12 p-0 d-flex flex-column advanced-filter-search"  [ngClass]="{'hidden':advanced_filter_search == false}">
        <div class="row m-0 form first-row">
       <div class="col-2">
         <div class="form-group">
           <label>Name</label>
           <input type="text" class="form-control" />
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>DOB</label>
           <div class="custom-datepicker">
             <input type="text" class="form-control" />
           </div>
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Gender</label>
           <select class="form-control selectpicker" *ngIf="list_items_data['list_items']">
               <option value="">Unassigned</option>
               <option *ngFor="let gender of list_items_data['list_items']['gender']" value={{gender.list_item_id}}>
               {{gender.list_item_title}}
               </option>
           </select>

           <!-- <ng-select [items]="list_items_data['modules'].client"
             bindLabel="label"
             bindValue="id"
             [(ngModel)]="selectedPersonId">
             </ng-select> -->

         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Business Unit</label>
           <select class="form-control selectpicker"  *ngIf="list_items_data['modules']">
             <option value="">Un Assigned</option>
             <option *ngFor="let business_unit of list_items_data['modules']['business_unit']" value={{business_unit.id}}>
               {{business_unit.label}}
             </option>
             </select>
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Shift Type</label>
           <select class="form-control selectpicker" *ngIf="list_items_data['list_items']">
             <option value="">Unassigned</option>
             <option *ngFor="let shift_type of list_items_data['list_items']['shift_type']" value={{shift_type.list_item_id}}>
               {{shift_type.list_item_title}}
             </option>
           </select>
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Job</label>
           <select class="form-control selectpicker" *ngIf="list_items_data['list_items']">
             <option value="">Un Assigned</option>
             <option *ngFor="let jobs of list_items_data['modules']['jobs']" value={{jobs.id}}>
               {{jobs.label}}
             </option>
           </select>
         </div>
       </div>
     </div>
     <div class="row m-0 form">
       <div class="col-2">
         <div class="form-group">
           <label>Break Time</label>
           <input type="text" class="form-control" />
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Space</label>
           <input type="text" class="form-control" />
         </div>
       </div>
       <div class="col-2">
         <div class="form-group">
           <label>Location</label>
           <input type="text" class="form-control" />
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-12 filter-footer">
         <div class="btn-group">
           <a href="#" class="btn btn-default">Reset</a>
           <a  class="btn btn-primary" (click)="filterSearch()" >Search</a>
         </div>
       </div>
     </div>
     </div>
      <div class="col-12 p-0 table-wrapper listing-table-wrapper">
        <div class="customisation-btn-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Customize Columns">
          <a href="javascript:void(0)" class="customisation-btn"></a>
          <div class="customisation-dropdown animated fadeIn">
            <ul class="handles list ui-sortable">
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Sl No</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Reference</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Client</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Break Time</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Space</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Location</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Details</span>
                  </label>
                </div>
              </li>
              <li>
                <span class="drag-icon"></span>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="text">Actions</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="table-wrapper-inner">
        <div class="table-header">
          <div class="table-header-inner">
            <table class="table">
              <thead>
                <tr>
                  <th class="w-xs no-sort"><span>Sl No</span></th>
                  <th class="sorting"><span class="texts">Name</span></th>
                  <th class="sorting"><span class="texts">Gender</span></th>
                  <th class="sorting"><span class="texts">DOB</span></th>
                  <th class="sorting"><span class="texts">Address</span></th>
                  <th class="sorting"><span class="texts">Country</span></th>
                  <th class="sorting"><span class="texts">Post Code</span></th>
                  <th class="sorting"><span class="texts">Designation</span></th>
                  <th class="sorting"><span class="texts">DBS/PVG Number</span></th>
                  <th class="sorting"><span class="texts">DBS/PVG Issue Date</span></th>
                  <th class="sorting"><span class="texts">Staff ID</span></th>
                  <th class="sorting"><span class="texts">Payroll ID</span></th>
                  <th class="sorting"><span class="texts">Email Address</span></th>
                  <th class="sorting"><span class="texts">Pin Number</span></th>

                  <th class="sorting"><span class="texts">Pin Expiry Date</span></th>
                  <th class="sorting"><span class="texts">Phone Number</span></th>
                  <th class="sorting"><span class="texts">Mobile Number</span></th>
                  <th class="sorting"><span class="texts">Employment Type</span></th>
                  <th class="sorting"><span class="texts">Status</span></th>
                  <th class="sorting"><span class="texts">NI Number</span></th>
                  <th class="sorting"><span class="texts">Passport Number</span></th>
                  <th class="sorting"><span class="texts">Issueing Country</span></th>
                  <th class="sorting"><span class="texts">Visa Type</span></th>
                  <th class="no-sort actions-th"><span>Actions</span></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="table-body">
          <table class="table">
            <tbody>
              <tr *ngIf="candidates_data.length==0">
                <td colspan="24">No Records Found</td>
              </tr>
              <tr *ngFor="let data of candidates_data let rowIndex=index">
                <td>{{((page-1)*row_per_page)+(rowIndex+1)}}</td>
                <td><span class="text">{{data.candidate_title}} {{data.candidate_fname}} {{data.candidate_lname}}</span></td>
                <td><span class="text">{{data.list_item_title}}</span></td>
                <td><span class="text">{{data.candidate_dob}}</span></td>
                <td><span class="text">{{data.candidate_address1}},{{data.candidate_address2}},{{data.candidate_address3}}</span></td>
                <td><span class="text">{{data.country_name}}</span></td>
                <td><span class="text">{{data.candidate_postcode}}</span></td>
                <td><span class="text">{{data.designation}}</span></td>
                <td><span class="text">{{data.candidate_dbs_pvg_number}}</span></td>
                <td><span class="text">{{data.candidate_dbs_pvg_issue_date}}</span></td>
                <td><span class="text">{{data.candidate_staff_id}}</span></td>
                <td><span class="text">{{data.candidate_payroll_id}}</span></td>
                <td><span class="text">{{data.candidate_email}}</span></td>
                <td><span class="text">{{data.candidate_pin}}</span></td>
                <td><span class="text">{{data.candidate_pin_expiry_date}}</span></td>
                <td><span class="text">{{data.candidate_phone_country_code}}-{{data.candidate_phone_number}}</span></td>
                <td><span class="text">{{data.candidate_mobile_country_code}}-{{data.candidate_mobile_phone_number}}</span></td>
                <td><span class="text">{{data.candidate_employment_type}}</span></td>
                <td><span class="text">{{data.candidate_status}}</span></td>
                <td><span class="text">{{data.candidate_ni_number}}</span></td>
                <td><span class="text">{{data.candidate_passport_number}}</span></td>
                <td><span class="text">{{data.candidate_issueing_country}}</span></td>
                <td><span class="text">{{data.candidate_visa_type}}</span></td>
                <td>
                  <a href="javascript:void(0)" (click)="editItem(data)" data-toggle="modal" data-target="#addnew-modal"><i class="far fa-pencil"></i></a>
                  <a href="javascript:void(0)" (click)="deleteRow(data)"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
        </div>
        <div class="table-footer" *ngIf="candidates_data.length>0">
          <div class="float-left results-text">Showing <span>{{((page-1)*row_per_page)+1}}-{{page*row_per_page < row_count ? page*row_per_page : row_count }}</span> of <span>{{row_count}}</span> results</div>
          <div class="float-right pagination-wrapper">
            <div class="form-group goto">
              <label>Go to page</label>
              <input type="text" class="form-control" (blur)="getCurrentPage($event.target.value,'page')" >
            </div>
            <div class="pagination">
              <nav>
                <ul>
                  <li ><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page >1 ? page-1 : 1,'page')"> &lt;&lt; </a></li>
                  <li><a href="javascript:void(0)" [ngClass]="{'active' : page === 1}" class="prev" (click)="getCurrentPage(1,'page')">First</a></li>
                  
                  <li *ngFor="let pg of totalPagesArr"><a  href="javascript:void(0)" (click)="getCurrentPage(pg,'page')" [ngClass]="{'active' : page === pg}" class="page">{{pg}}</a></li>
                  <li><a href="javascript:void(0)" class="prev" (click)="getCurrentPage(totalPagesArr.length,'page')">Last</a></li>
                  <li><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page < totalPagesArr.length ? page+1 : totalPagesArr.length,'page')"> &gt;&gt; </a></li>
                </ul>
              </nav>
            </div>
            <div class="form-group result-per">
              <label>Results Per Page</label>
              <select class="form-control selectpicker" (change)="getCurrentPage($event.target.value,'rpp')" >
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
    
          </div>
        </div>
        
      </div>
    </div>

    <!-- right modal -->
    <div class="modal fade custom-popup right" id="addnew-modal" role="dialog" tabindex='-1'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Candidate</h4>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-body">
              <app-candidates-form #app_candidates_form (formData)="saveForm($event)" [list_items_data]="list_items_data"></app-candidates-form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-normal" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="formSubmit()">Save</button>
            </div>
          </div>
        </div>
    </div>
      <!-- right modal -->

      <!-- right modal -->
    <button [hidden]="true" type="button" #getModalDelete data-toggle="modal" data-target="#delete-modal"></button>
    <div class="modal fade custom-popup right" id="delete-modal" role="dialog" tabindex='-1'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Client Rate</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
          </div>
          <div class="modal-body">
            Are you sure ?
          </div>
          <div class="modal-footer">
            <button class="btn btn-normal" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="confirmDelete()">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- right modal -->