<form >
                 <div class="col-12 form-wrapper">
                     <div class="row">
                         <div class="col-8">
                             <div class="form-group">
                                 <label>Job Role</label>
                                 <input type="text" class="form-control" />
                             </div>
                         </div>
                         
                     </div>
                     
               
                    
                 </div>
     </form>