<div class="breadcrumb main-top-head">
      <div class="main-top-left">
        <div class="breadcrumb-item" ng-reflect-klass="breadcrumb-item">
          <a ng-reflect-router-link="/" href="#/">Home</a>
        </div>
        <div class="breadcrumb-item active" ng-reflect-klass="breadcrumb-item">
          <span tabindex="0" ng-reflect-router-link="//dashboard/">Vacancies</span>
        </div>
      </div>
      <div class="breadcrumb-menu d-md-down-none main-top-right">
          <div class="form-group custom-search">
              <input type="text" class="form-control" placeholder="Search" #tablesearch />
          </div>
          
          <div class="icon-block">
            <a href="javascript:void(0)" (click)="showAdvancedSearch()" class="icon filter-icon"   title="Advance Search"><i class="fas fa-filter"></i></a>
          </div>
          <a href="#!" class="btn btn-primary" data-toggle="modal" data-target="#addnew-modal">Add New</a>
      </div>     
    </div> 
    
    <div class="col-12 page-wrapper">
      <div *ngIf = "vaccancy.vaccancy_ref_number" class="col-12 p-0 d-flex flex-column advanced-filter-search"  [ngClass]="{'hidden':advanced_filter_search == false}">
        <form [formGroup]="form">
            <div class="row m-0 form first-row">
            <div class="col-2">
              <div class="form-group">
                <label>Referance no</label>
                <input name="vaccancy_ref_number" formControlName="vaccancy_ref_number" [(ngModel)]="vaccancy.vaccancy_ref_number" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Date</label>
                <div class="custom-datepicker">
                  <input name="vaccancy_date" formControlName="vaccancy_date" [(ngModel)]="vaccancy.vaccancy_date" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Client</label>
                <select class="form-control selectpicker" formControlName="vaccancy_client" *ngIf="list_items_data['modules']" [(ngModel)]="vaccancy.vaccancy_client">
                    <option value="">Unassigned</option>
                    <option *ngFor="let client of list_items_data['modules']['client']" value={{client.id}}>
                    {{client.label}}
                    </option>
                </select>

              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Business Unit</label>
                <select class="form-control selectpicker" formControlName="vaccancy_business_unit" *ngIf="list_items_data['modules']" [(ngModel)]="vaccancy.vaccancy_business_unit">
                  <option value="">Unassigned</option>
                  <option *ngFor="let business_unit of list_items_data['modules']['business_unit']" value={{business_unit.id}}>
                    {{business_unit.label}}
                  </option>
                  </select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Shift Type</label>
                <select class="form-control selectpicker" formControlName="vaccancy_shift_type" *ngIf="list_items_data['list_items']" [(ngModel)]="vaccancy.vaccancy_shift_type">
                  <option value="">Unassigned</option>
                  <option *ngFor="let shift_type of list_items_data['list_items']['shift_type']" value={{shift_type.list_item_id}}>
                    {{shift_type.list_item_title}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Job</label>
                <select class="form-control selectpicker" formControlName="vaccancy_job" *ngIf="list_items_data['list_items']" [(ngModel)]="vaccancy.vaccancy_job">
                  <option value="">Unassigned</option>
                  <option *ngFor="let jobs of list_items_data['modules']['jobs']" value={{jobs.id}}>
                    {{jobs.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row m-0 form">
            <div class="col-2">
              <div class="form-group">
                <label>Space</label>
                <input type="text" name="vaccancy_space" formControlName="vaccancy_space" [(ngModel)]="vaccancy.vaccancy_space" class="form-control" />
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Location</label>
                <input type="text" name="vaccancy_location" formControlName="vaccancy_location" [(ngModel)]="vaccancy.vaccancy_location" class="form-control" />
              </div>
            </div>
          </div>
            <div class="filter-footer">
              <div class="btn-group">
                <a (click)="clearSearch()" class="btn btn-default">Reset</a>
                <a class="btn btn-primary" (click)="filterSearch()" >Search</a>
              </div>
            </div>
        </form>
      </div>
      <div class="col-12 p-0 table-wrapper listing-table-wrapper">
        <div class="customisation-btn-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Customize Columns">
          <a href="javascript:void(0)" class="customisation-btn"></a>
          <div class="customisation-dropdown animated fadeIn">
            <ul class="handles list ui-sortable">
              <li *ngFor="let list_item of module_list_arr; let colIndex=index" [hidden]="formLabels[list_item]['show_default'] == 0">
                <span class="drag-icon"></span>
                <div class="checkbox" [ngClass]="{'disabled' : grid_show_items_count <= grid_show_items_limit && formLabels[list_item]['show_current'] == 1}">
                  <label>                    
                    <input type="checkbox" [checked]="formLabels[list_item]['show_current']" (click)="listViewUpdate($event,list_item)">
                    <span class="text">{{formLabels[list_item]['label']}}</span>
                  </label>
                </div>
              </li>              
            </ul>
            <div class="btn-group" [ngStyle]="{'width':'100%','padding':'0 0 0 75px'}">
                <a (click)="saveListView()" class="btn btn-default">Update this View</a>
            </div>
          </div>          
        </div>
        <div class="table-wrapper-inner">
        <div class="table-header">
          <div class="table-header-inner">
            <table class="table">
              <thead>
                <tr>
                  <th class="w-xs no-sort"><span>Sl No</span></th>                  
                  <th class="sorting" *ngFor="let list_item of module_list_arr; let colIndex=index" [hidden]="formLabels[list_item]['show_current'] == 0">
                    <span class="texts">{{formLabels[list_item]['label']}}</span>
                  </th>
                  <th class="no-sort actions-th"><span>Actions</span></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="table-body">
          <table class="table">
            <tbody *ngIf="list_items_data">
              <tr *ngIf="vacancy_data.length==0">
                <div class="empty-list"><span>No Records Found</span></div>
              </tr>
              <tr *ngFor="let data of vacancy_data let rowIndex=index">
                <td>{{((page-1)*row_per_page)+(rowIndex+1)}}</td>

                <td [hidden] = "formLabels['vaccancy_id']['show_current'] == 0"><span class="text">{{data.vaccancy_id}}</span></td>
                <td [hidden] = "formLabels['vaccancy_ref_number']['show_current'] == 0"><span class="text">{{data.vaccancy_ref_number}}</span></td>
                <td [hidden] = "formLabels['vaccancy_date']['show_current'] == 0"><span class="text">{{data.vaccancy_date}}</span></td>
                <td [hidden] = "formLabels['vaccancy_client']['show_current'] == 0"><span class="text">{{showListLabel(data.vaccancy_client,'modules','client')}}</span></td>
                <td [hidden] = "formLabels['vaccancy_business_unit']['show_current'] == 0"><span class="text">{{showListLabel(data.vaccancy_business_unit,'modules','business_unit')}}</span></td>
                <td [hidden] = "formLabels['vaccancy_shift_type']['show_current'] == 0"><span class="text">{{showListLabel(data.vaccancy_shift_type,'list_items','shift_type')}}</span></td>
                <td [hidden] = "formLabels['vaccancy_job']['show_current'] == 0"><span class="text">{{showListLabel(data.vaccancy_job,'modules','jobs')}}</span></td>
                <td [hidden] = "formLabels['vaccancy_break_time']['show_current'] == 0"><span class="text">{{data.vaccancy_break_time}}</span></td>
                <td [hidden] = "formLabels['vaccancy_space']['show_current'] == 0"><span class="text">{{data.vaccancy_space}}</span></td>
                <td [hidden] = "formLabels['vaccancy_location']['show_current'] == 0"><span class="text">{{data.vaccancy_location}}</span></td>
                <td [hidden] = "formLabels['vaccancy_details']['show_current'] == 0"><span class="text">{{data.vaccancy_details}}</span></td>
                <td [hidden] = "formLabels['vaccancy_created_time']['show_current'] == 0"><span class="text">{{data.vaccancy_created_time}}</span></td>
                <td [hidden] = "formLabels['vaccancy_updated_time']['show_current'] == 0"><span class="text">{{data.vaccancy_updated_time}}</span></td>
                <td [hidden] = "formLabels['vaccancy_created_by']['show_current'] == 0"><span class="text">{{data.vaccancy_created_by}}</span></td>
                <td [hidden] = "formLabels['vaccancy_updated_by']['show_current'] == 0"><span class="text">{{data.vaccancy_updated_by}}</span></td>
                <td [hidden] = "formLabels['vaccancy_active']['show_current'] == 0"><span class="text">{{data.vaccancy_active}}</span></td>

                <td class="actions-td">  
                  <a href="javascript:void(0)" (click)="editItem(data)" data-toggle="modal" data-target="#addnew-modal"><i class="far fa-pencil"></i></a>
                  <a href="javascript:void(0)" (click)="removeItem(rowIndex,data)"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          
          </div>
        </div>
        <div class="table-footer" *ngIf="vacancy_data.length>0">
          <div class="float-left results-text">Showing <span>{{((page-1)*row_per_page)+1}}-{{page*row_per_page < row_count ? page*row_per_page : row_count }}</span> of <span>{{row_count}}</span> results</div>
          <div class="float-right pagination-wrapper">
            <div class="form-group goto">
              <label>Go to page</label>
              <input type="text" class="form-control" (blur)="getCurrentPage($event.target.value,'page')" >
            </div>
            <div class="pagination">
              <nav>
                <ul>
                  <li ><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page >1 ? page-1 : 1,'page')"> &lt;&lt; </a></li>
                  <li><a href="javascript:void(0)" [ngClass]="{'active' : page === 1}" class="prev" (click)="getCurrentPage(1,'page')">First</a></li>
                  
                  <li *ngFor="let pg of totalPagesArr"><a  href="javascript:void(0)" (click)="getCurrentPage(pg,'page')" [ngClass]="{'active' : page === pg}" class="page">{{pg}}</a></li>
                  <li><a href="javascript:void(0)" class="prev" (click)="getCurrentPage(totalPagesArr.length,'page')">Last</a></li>
                  <li><a href="javascript:void(0)" class="first" (click)="getCurrentPage(page < totalPagesArr.length ? page+1 : totalPagesArr.length,'page')"> &gt;&gt; </a></li>
                </ul>
              </nav>
            </div>
            <div class="form-group result-per">
              <label>Results Per Page</label>
              <select class="form-control selectpicker" (change)="getCurrentPage($event.target.value,'rpp')" >
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
    
          </div>
        </div>
        
      </div>
    </div>
  
    <!-- right modal -->
    <div class="modal fade custom-popup medium right" id="addnew-modal" role="dialog" tabindex='-1'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Vacancy</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
          </div>
          <div class="modal-body">
            <app-vacancies-form #app_vacancies_form (formData)="saveForm($event)" [list_items_data]="list_items_data"></app-vacancies-form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-normal" type="button" data-dismiss="modal" (click)="revertChanges()">Cancel</button>
            <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="formSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- right modal -->
  