<div class="top-header">
  <div class="top-left toolbar">
    <button (click)="previous()">Previous</button>
    <button (click)="today()">Today</button>
    <button (click)="next()">Next</button>
  </div>  
  <div class="top-right">
    <label class="switch">
      <input 
        type="checkbox" 
        id="togBtn"
        (click)="onViewChage()">
      <div class="slider round">
        <span class="on">Resource</span>
        <span class="off">Client</span>
      </div>
    </label>
    <div class="filter-row">
      <div class="form-group">
        <ng-select 
          [items]="resource"
          bindLabel="name"
          bindValue="id"
          placeholder="Resource"
          [(ngModel)]="resourceFilter"
          [multiple]="true"
          class="form-control">
          <ng-template ng-header-tmp>
            <div>
              <button class="btn btn-link"
                      (click)="onSelectAll()">Select All</button>
              <button class="btn btn-link"
                      (click)="onClearAll()">Clear All</button>
            </div>      
          </ng-template>
        </ng-select>
      </div>
      <div class="block-icon">
          <a href="#" class="icon filter-icon" (click)="resourceFilterChange($event)"><i class="fas fa-filter"></i></a>
      </div>
    </div>
  </div>
</div>

<daypilot-scheduler [config]="config" [events]="events" class="scheduler-wrapper" (viewChange)="schedulerViewChanged($event)" #timesheet></daypilot-scheduler>

<div class="modal fade custom-popup event-popup show" [ngStyle]="{display: (showPopUp ? 'block' : 'none')}" id="event-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">   
              <h4 class="modal-title">Modal Header</h4>
              <button 
                class="close" 
                type="button" 
                data-dismiss="modal" 
                aria-label="Close"
                (click)="showPopUp = false"><i class="fal fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                      <div class="form-group">
                          <label>Event Title</label>
                          <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)] = "eventTitle"/>
                      </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                        <label>Start Time</label>
                        <angular2-date-picker 
                          [(ngModel)]="startTime" 
                          [settings]="settings">
                        </angular2-date-picker>
                    </div>
                  </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>End Time</label>
                            <angular2-date-picker 
                              [(ngModel)]="endTime" 
                              [settings]="settings">
                            </angular2-date-picker>
                        </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                          <label>{{ resourceTitle }}</label>
                          <ng-select 
                            [items]="resource"
                            bindLabel="name"
                            bindValue="id"
                            placeholder="Resource"
                            [(ngModel)]="resourceId">
                          </ng-select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ curesponseTitle }}</label>
                        <ng-select 
                          [items]="curesponse"
                          bindLabel="name"
                          bindValue="id"
                          placeholder="Resource"
                          [(ngModel)]="curesponseId">
                        </ng-select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>Comment</label>
                        <textarea 
                          class="form-control"
                          [(ngModel)] = "comment"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button 
                class="btn btn-normal" 
                type="button" 
                data-dismiss="modal"
                (click)="showPopUp = false"
                >Cancel</button>
              <button 
                *ngIf="!isUpdateEvent"
                class="btn btn-primary" 
                type="button"
                (click)="addEvent()">Save</button>
              <button 
                *ngIf="isUpdateEvent"
                class="btn btn-primary" 
                type="button"
                (click)="updateEvent()">Update</button>
            </div>
          </div>
        </div>
</div>