<daypilot-scheduler [config]="config" [events]="events" #timesheet></daypilot-scheduler>

<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#event-modal"></a>
<div class="modal fade custom-popup event-popup show" [ngStyle]="{display: (showPopUp ? 'block' : 'none')}" id="event-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">   
              <h4 class="modal-title">Modal Header</h4>
              <button 
                class="close" 
                type="button" 
                data-dismiss="modal" 
                aria-label="Close"
                (click)="showPopUp = false"><i class="fal fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-12">
                  <div class="row">
                      <div class="col-2">
                          <div class="form-group">
                              <label>Event Title</label>
                              <input 
                                type="text" 
                                class="form-control"
                                [(ngModel)] = "eventTitle"/>
                          </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                            <label>Start Time</label>
                            <input 
                              type="text" 
                              class="form-control" 
                              [(ngModel)] = "startTime"/>
                        </div>
                      </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>End Time</label>
                                <input 
                                  type="text" 
                                  class="form-control" 
                                  [(ngModel)] = "endTime"/>
                            </div>
                        </div>
                        <div class="col-3">
                                <div class="form-group">
                                    <label>Resource</label>
                                    <select 
                                      class="form-control selectpicker"
                                      [(ngModel)] = "resourceId" >
                                        <option *ngFor="let res of resource" value={{res.id}}>
                                            {{res.name}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-3">
                                    <div class="form-group">
                                        <label>Client</label>
                                        <select class="form-control selectpicker">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            </select>
    
                                    </div>
                                </div>
                  </div>
                  <div class="row">
                        <div class="col-12">
                                <div class="form-group">
                                    <label>Comment</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button 
                class="btn btn-normal" 
                type="button" 
                data-dismiss="modal"
                (click)="showPopUp = false"
                >Cancel</button>
              <button 
                class="btn btn-primary" 
                type="button"
                (click)="addEvent()">Save</button>
            </div>
          </div>
        </div>
      </div>